name: Upload Python Package 

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.10.12
    # we need to build the package for generating the _version.py file that isn't checked in
    - name: Install dependencies and build package
      run: |
        python -m pip install --upgrade pip build wheel
        python -m pip install flit_scm pylint
        python -m pip install .
        python -m build --sdist --wheel --outdir dist --no-isolation
    
  deploy:
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        pip install .
    - name: Build package
      run: python -m build
    - name: Publish Python package
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_KEY }}